extend layout

block content
  div.container.text-center 
    h1 identiGroup 
  div.container
    div.row
      div.col-md-4.col-md-offset-4.text-center
        fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
        div(id="status")
        img.img-responsive.img-centered(src="http://lorempixel.com/200/200")
    div.row
        div.col-sm-8.col-sm-offset-2.text-center
          form.inline
            div.btn.btn-default
              | skip
            input.form-control.input-inline(autofocus placeholder="Name")
            button.btn.btn-success(type="submit")
              | check

